.Ende-header {
    background-color: #968c81;
    text-align: center;
    min-height: 50vh;
    display: flex;
    position: static;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: rgb(8, 7, 7);
}

.Ende-beschreibung {
    background-color: #beb4aa;
    text-align: center;
}