.Verbindung-header {
  background-color: #d47107;
  color: white;
  text-align: center;
  font-weight: bold;
  min-height: 5vh;

  display: flex;
  position: static;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 5vmin);
  color: rgb(255, 255, 255);
}

.Verbindung-bild {
  position: left;
}

.Verbindung-textfeld-links {
  text-align: left;
  position: left;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-color: black;
  padding: 0.5rem;
  border-radius: 12px;
}

.Verbindung-textfeld-rechts {
  text-align: left;
  position: right;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-color: black;
  padding: 0.5rem;
  border-radius: 12px;
}

.Verbindung-textfeld-mitte {
  text-align: left;
  position: center;
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  border-color: black;
  padding: 0.5rem;
  border-radius: 12px;
}
