.button {

    display: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.993);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 15px;
    background-color: #c06a08;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #d8b415;
    border-color: #d8b415;
  }
  
  .button:focus {
    outline: none;
  }